<h2> Listing Categories(<%= @categories.length %>)</h2>

<ol>
	<% @categories.each do |category| %>
	<li> 
		
		<%= link_to category.name,category_path(category.id) %> 
		(<%= category.products.length %>) 
	</li>
		
	<% end %>
	<br/>
	